<div class="h1">
  <h2>Edit/Add Contents</h2>
</div>
<div id="page-wrap">
  
    
    <form (ngSubmit)="update()">
        <input type="text" name="title" required placeholder="Enter Title" [(ngModel)]="solItem.title" required>
           <br>
           
           <br>              
             <textarea name="main" id="" placeholder="Enter Description" [(ngModel)]="solItem.description" required></textarea>     
            <br> 
           
          <input type="text" name="image"  placeholder="imageUrl" [(ngModel)]="solItem.image" required><br>
          <br>              
           
          <input type="text" name="name1"  placeholder="Name" [(ngModel)]="solItem.name1" required><br>
         <br>              
           
          <input type="text" name="image1"  placeholder="imageUrl" [(ngModel)]="solItem.image1" required><br>

          <br>              
             <textarea name="description1" id="" placeholder="Enter Description" [(ngModel)]="solItem.description1" required></textarea>     
            <br> 
            <br>              
           
            <input type="text" name="name2"  placeholder="Name" [(ngModel)]="solItem.name2" required><br>
          <br> 
           
          <input type="text" name="image2"  placeholder="imageUrl" [(ngModel)]="solItem.image2" required><br>

          <br>              
          <textarea name="description2" id="" placeholder="Enter Description" [(ngModel)]="solItem.description2" required></textarea>     
         <br> 
         <br>              
           
         <input type="text" name="name3"  placeholder="Name" [(ngModel)]="solItem.name3" required><br>
          <br> 
           
          <input type="text" name="image3"  placeholder="imageUrl" [(ngModel)]="solItem.image3" required><br>
          <br>              
          <textarea name="description3" id="" placeholder="Enter Description" [(ngModel)]="solItem.description3" required></textarea>     
         <br> 
         <br>              
           
          <input type="text" name="name4"  placeholder="Name" [(ngModel)]="solItem.name4" required><br>
          <br> 
           
          <input type="text" name="image4"  placeholder="imageUrl" [(ngModel)]="solItem.image4" required><br>
          <br>              
          <textarea name="description4" id="" placeholder="Enter Description" [(ngModel)]="solItem.description4" required></textarea>     
         <br> 
         <br>              
           
          <input type="text" name="name5"  placeholder="Name" [(ngModel)]="solItem.name5" required><br>
          <br> 
           
          <input type="text" name="image5"  placeholder="imageUrl" [(ngModel)]="solItem.image5" required><br>
          <br>              
          <textarea name="description5" id="" placeholder="Enter Description" [(ngModel)]="solItem.description5" required></textarea>     
         <br>
         <br>              
           
          <input type="text" name="name6"  placeholder="Name" [(ngModel)]="solItem.name6" required><br> 
          <br> 
           
          <input type="text" name="image6"  placeholder="imageUrl" [(ngModel)]="solItem.image6" required><br>
          <br>              
          <textarea name="description6" id="" placeholder="Enter Description" [(ngModel)]="solItem.description6" required></textarea>     
         <br> 
         <br>              
           
          <input type="text" name="name7"  placeholder="Name" [(ngModel)]="solItem.name7" required><br>
          <br> 
           
          <input type="text" name="image7"  placeholder="imageUrl" [(ngModel)]="solItem.image7" required><br>
          <br>              
          <textarea name="description7" id="" placeholder="Enter Description" [(ngModel)]="solItem.description7" required></textarea>     
         <br> 
         <br>              
           
          <input type="text" name="name8"  placeholder="Name" [(ngModel)]="solItem.name8" required><br>
          <br> 
           
          <input type="text" name="image8"  placeholder="imageUrl" [(ngModel)]="solItem.image8" required><br>
          <br>              
          <textarea name="description8" id="" placeholder="Enter Description" [(ngModel)]="solItem.description8" required></textarea>     
         <br> 
         <br>              
           
          <input type="text" name="name9"  placeholder="Name" [(ngModel)]="solItem.name9" required><br>
          <br> 
           
          <input type="text" name="image9"  placeholder="imageUrl" [(ngModel)]="solItem.image9" required><br>
          <br>              
          <textarea name="description9" id="" placeholder="Enter Description" [(ngModel)]="solItem.description9" required></textarea>     
         <br> 
         <br>              
           
          <input type="text" name="name10"  placeholder="Name" [(ngModel)]="solItem.name10" required><br>
          <br> 
           
          <input type="text" name="image10"  placeholder="imageUrl" [(ngModel)]="solItem.image10" required><br>
          <br>              
          <textarea name="description10" id="" placeholder="Enter Description" [(ngModel)]="solItem.description10" required></textarea>     
         <br> 
  
         
           
          
            
  
  
  
  
  
  
         <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn1" [disabled]="!solItem.title|| !solItem.image" style="font-family: 'Henny Penny', cursive;" >Continue</button>
    </form>         
    
</div>
